<h3>Group</h3>
<br>
  <input type="file" fileread="vm.uploadme" />
  <input type="file" fileread="uploadme.src"/>
<br>
<button class="btn btn-success" ng-click="get_pairs(parse_csv());">
    Proccess Data
</button>
<br>
<br>
<div class="row">
    <div class="col-6">
      <ul class="list-group">
          <div ng-repeat="employee in result">
            <li class="list-group-item">{{employee}}</li>
          </div>
      </ul>
  </div>
</div>
<br>
<div>
  <br>
  <button class="btn btn-primary">
      <a href="#/" class="kataFont">Home</a>
  </button>
</div>